.MuiInputBase-root {
    border-radius: 8px !important;
}

.MuiFormLabel-root {
    font-size: 20px !important;
    background-color: white !important;
    padding: 8px 8px 0px 4px !important;
}

.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected {
    color: #F6F6F6;
    background-color: #EF6F25 !important;
}

.MuiButtonBase-root.MuiPickersDay-root.Mui-selected {
    background-color: #EF6F25 !important;
}

.MuiPickersYear-yearButton.Mui-selected.css-innj4t-MuiPickersYear-yearButton {
    background-color: #EF6F25 !important;
    color: #F6F6F6;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #EF6F25 !important;
}