.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#root {
    height: 100%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-family: 'Material Icons' !important;
}

.swiper-button-prev:after,
.swiper-rtl {
    content: '\f1e6';
    color: theme("colors.brand.500")
}

.swiper-button-next:after {
    content: '\f1df';
    color: theme("colors.brand.500")
}